html {
    -webkit-tap-highlight-color: transparent;
}

::-moz-selection {
    color: #121212;
    background: #aaa;
}

::selection {
    color: #121212;
    background: #aaa;
}

.anticon {
    display: flex;
    align-items: center;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "HelveticaNeue";
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/HelveticaNeueCyr-Roman.ttf) format("truetype");
}

@font-face {
    font-family: "HelveticaNeue";
    font-style: normal;
    font-weight: 500;
    src: url(/fonts/HelveticaNeueCyr-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "HelveticaNeue";
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/HelveticaNeueCyr-Bold.ttf) format("truetype");
}

@layer components {
    .btn {
        @apply text-primary-light text-[15px] h-11 px-6 uppercase rounded-md font-medium bg-[#090D15] hover:cursor-pointer flex items-center justify-center flex-1 md:flex-none hover:shadow-md transition duration-300;
    }

    .btn-primary {
        @apply bg-opacity-80 hover:bg-opacity-100;
    }

    .btn-neutral {
        @apply bg-opacity-0 hover:bg-opacity-60;
    }

    .section-heading {
        @apply text-white font-medium col-span-12 mb-8 md:mb-12 text-sm uppercase pl-4 border-l border-text;
    }

    .horizontal-rule {
        @apply mb-6 border-slate-700 max-w-[512px];
    }

    .section {
        @apply py-12 sm:py-16 md:py-20;
    }

    .icon {
        @apply text-slate-600 text-2xl hover:text-primary-light transition duration-300;
    }
}
